/* Add a black background color to the top navigation */
body {
    margin: 0;
    font-family: "Open Sans",sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: black;
}

.topnav a {
    float: left;
    color: #fff;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #ff6600;
}

.topnav a span {
    display: inline-block;
    margin-top: 10px;
    margin-right: 20px;
}

.topnav a picture {
    margin-right: 100px;
}